<div class="ui card" id ="{{name}}">
  <div class="image">
    <img src="{{image}}">
  </div>
  <div class="content">
    <div class="header">{{fullname}}</div>
    <div class="meta">
      <span>{{email}}</span>
    </div>
    <div class="description">
      {{desc}}
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="phone icon"></i>
      {{number}} 
    </a>
  </div>
</div>